rust_basics/target/

data_structures/list/target/
data_structures/quicksort/target/
data_structures/selection_sort/target/
data_structures/tree
data_structures/tree/target/

coding_exercises/

networking/tcp/basic_tcp/target/
networking/tcp/echo_server_client/echo_client/target
networking/tcp/echo_server_client/echo_server/target
networking/gRPC/example-grpc-tonic/target
networking/simplest_app_server/

*.txt

.vscode/
personal_notes.adoc
 
web/actix_web/first_backend/target
serialization_deserialization/basic_protobof_example/target


cryptography/crypto_primitives_with_rustcrypto
